<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servicesandproductmenu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".snpl14" />
        <activity android:name=".snpl13" />
        <activity android:name=".snpl12" />
        <activity android:name=".snpl11" />
        <activity android:name=".snpl10" />
        <activity android:name=".snpl9" />
        <activity android:name=".snpl8" />
        <activity android:name=".snpl7" />
        <activity android:name=".snpl6" />
        <activity android:name=".snpl5" />
        <activity android:name=".snpl4" />
        <activity android:name=".snpl3" />
        <activity android:name=".snpl2" />
        <activity android:name=".snpl1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>